[Unit]
Description=Update SmartDNS GeoSite data
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/smartdns/geosite-scheduled
