Source: smartdns  
Maintainer: Nick Peng <pymumu@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Version: 
Section: net
Package: smartdns  
Priority: extra  
Architecture: armhf
Depends: python3, ca-certificates, systemd, libc6, libgcc-s1, zlib1g, libzstd1, libssl3t64 | libssl3
Description: a smartdns server
